<table mat-table [dataSource]="dataSource" class="table table-bordered" matRowHover>
  <ng-container matColumnDef="image">
    <td
      mat-cell
      *matCellDef="let series"
      class="align-middle"
      style="width: 100px"
    >
      <img [src]="getImageUrl()" class="img-fluid" alt="Series Image" />
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <td
      mat-cell
      *matCellDef="let series"
      class="align-middle"
      style="width: 200px"
      (click)="navigateToDetail()"
    >
      <h5 class="card-title font-weight-bold" style="font-size: 1.2rem">
        {{ series.title || series.name }}
      </h5>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <td
      mat-cell
      *matCellDef="let series"
      class="align-middle"
      style="width: 150px"
    >
      <p class="card-text mb-0"><strong>Type:</strong> {{ series.type }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <td
      mat-cell
      *matCellDef="let series"
      class="align-middle"
      style="width: 100px"
    >
      <p class="card-text mb-0"><strong>Score:</strong> {{ series.score }}</p>
    </td>
  </ng-container>

  <tr
  mat-row
  *matRowDef="let series; columns: ['image', 'title', 'type', 'score']"
  class="table-light"
  style="font-size: 1rem"
  (click)="navigateToDetail()"
></tr>
</table>
